.entreprise{
  margin-top: 120px;
  .backgroundentreprise{
    margin-top: 5rem;
    position: relative;
    background-color: $greybackground-color;
    color: white;
    width: 100%;
    .bloc1{
      padding: 50px 70px;
    }
    .small{
      font-size: 18px;
      font-weight: 500;
    }
    span{
      color: $secondary-color;
      text-decoration: underline;
      font-weight: 400;
    }
    img{
      position: absolute;
      width: 450px;
      max-height: 550px;
      left: 950px;
      bottom: -90px;
    }
  }
}